@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Oswald|Lato|Droid+Sans|PT+Sans|Source+Sans+Pro|Open+Sans+Condensed:300|Roboto+Condensed|Droid+Serif|Ubuntu|Raleway|Montserrat|PT+Sans+Narrow|Roboto+Slab|Lobster|Arimo|Yanone+Kaffeesatz|Lora|Bitter);

html, body {
    padding:0;
    margin:0;
}


.top-navigation{
    border-radius: 0;
}

.navbar-nav>li>.dropdown-menu>li{
	width: 100%;
	/*background-color: #1abc9c;*/
}

.navbar-nav>li>.dropdown-menu>li:hover{
  background-color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  color:#1abc9c;
}

  
/*.dropdown:hover .dropdown-menu {
display: block;
}*/


.dropdown-menu>li>a{
    color:#FFFFFF;
    background-color: #1abc9c;
    
}

.dropdown-menu>li>a:hover{
    color:#FFFFFF;
    background-color: #1abc9c;
    
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
   color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	background-color: #1abc9c;
	color:#000000;
}

.navbar-nav>li>.dropdown-menu>li:hover{
	background-color: #1abc9c;
}

.top-nav-ul{
	background-color: #1abc9c;
}

.dropdown-menu>li>a:hover{
    color: #FFFFFF;
    background-color:#000000;
}

.dropdbut{
	font-size:2rem;
}

nav .brand-logo{
	margin-left: 25px;
    text-decoration: none;
}

.slider .slides li .caption{
    color:#000000;
    font-size: 50px;
}

.grey-text.text-lighten-3{
    color:#000000 !important;
    font-size: 30;
}

.slider-texts{
	background-color:rgba(189, 195, 199,0.7);
	width: 100% !important;
	left:0% !important;
	top:65% !important;
}

.navbar-fixed nav{
	/*height: 70px;*/
}

nav ul a{
	margin-top: 10px;
	font-size: 18px;
	font-family: "Open+Sans";
	color:#FFFFFF;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	border-color: #1abc9c;
}

nav ul li:hover, nav ul li.active{
	background-color: #1abc9c;
}

.navbar-nav>li>.dropdown-menu{
	background-color: #1abc9c;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color:#000000;
	background-color: #16a085;
	/*border-color: #FFFFFF;*/
}

.navbar-default .navbar-nav>li>a{
	color:#FFFFFF;
	font-family: "Open+Sans";
}

nav ul a:hover{
	font-size: 18px;
	/*font-family: "Roboto";*/
	text-decoration: none;
	border-bottom: 4px solid #ecf0f1;
	color:#000000;
	/*z-index: 999999;*/
}

.navbar-default{
	background-color:rgba(26, 188, 156,1.0);
	border-color:rgba(26, 188, 156,1.0);
}

.slider .indicators .indicator-item{
	background-color: rgba(127, 140, 141,1.0);
}

.slider .indicators .indicator-item.active{
	background-color: rgba(22, 160, 133,1.0);
}

.parallax-container{
	margin-top:20px;
	height:300px;
}

.card{
	margin-left:5px;
	margin-right: 5px;
}

.card .card-image img{
	height:200px;
	width: 100%;
	left: 0;
	right:0;
}

.home-card{
	/*background-color: rgba(52, 73, 94, 0.7);*/
	margin-right: 30px;
	margin-left: 65px !important;
	margin-top: 20px;
	padding-left: 0 !important;
	padding-right:  0 !important;
}

.card .card-image{
	width:100%;

	/*margin-left: inherit;*/
	/*margin-right: inherit;*/
}

.card .card-image .card-title{
	left:0;
	top:55%;
	height:60px;
	padding-top: 13px;
}

.title-block{
  background-color: rgba(52, 73, 94,0.8);
}

.card .card-action a{
	color:rgba(26, 188, 156,1.0);
	font-family: "Source+Sans+Pro";
}

.card .card-action a:hover{
	color:rgba(22, 160, 133,1.0);
	font-weight:bold;
	text-decoration: none;
}

.contactsrow{
	margin-top:0px;
	border-top:0px;
	/*height: 100px;*/
	padding-top: 0px;
	padding-bottom: 0px;
	bottom:0;

}

footer.page-footer{
	margin-top:0px;
	border-top:0px;
	height: 200px;
	padding-top: 0px;
	padding-bottom: 0px;
	bottom:0;
}

.copyright{
	height:30px;
	margin-top: 10px;
	bottom: 0;
    background-color: #00B28F;
    color:#FFFFFF;
}

.indint{
   margin-top: 0px;
   margin-bottom: 0px;
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 180px;
  float: left; 
  border: 1px inset; /* This is default border style for <hr> tag */
  margin-right: 10px;
  /*margin-top: 5px;*/
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
  top:5px;
}

.home-footer{
	margin:inherit;
}

.home-footer-title{
	height: 150px;
	margin-top: 5px;
	font-family: "Ubuntu";
}

.limited{
	margin-top:5px ;
	margin-bottom: 10px;
	font-size: 17px;
	letter-spacing: 5px;
}

.idc{
	margin-top:0px ;
	margin-bottom: 0px;
}

.reach{
	margin: 5px;
	font-size: 15px;
}

.home-contacts-title{
    margin-top: 10px;
    font-family: "Montserrat","PT+Sans";
    text-decoration: underline;
}

.social-contacts{
	font-size: 20px;
	
}

a.social{
	color:#000000;
}

a.social:hover{
	text-decoration: none;
	font-weight: bold;
}

.social{
	margin-left: 15px;
}

.social-icon{
	padding-right: 20px;
	padding-right: 15px;
}

.facebook{
	color:rgba(41, 128, 185,1.0);
	font-weight: bold;
}

.googleplus{
	color:rgba(231, 76, 60,1.0);
	font-weight: bold;
}

.twitter{
	color:#2980b9;
	font-weight: bold;
}

.instagram{
	color:#993300;
	font-weight: bold;
}

.reserve{
	padding-top:5px;
}

.mail{
    letter-spacing: 3px;
}

.jumbotron-background{
	 width:100%;
    height:500px;
}
  .shade {
  	/*margin-top: 30px;*/
  	top:-80px;
    position:relative;
    width:100%;
    height:500px;
}

.shade:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
}

  .servtron{
  	margin-top:80px; 
    position: relative;
  }

  .service-text{
  	position: relative;
  	font-size: 29px;
  	font-family: "Ubuntu";
  	color:#FFFFFF;
  	margin-left: 45px;
  	vertical-align: middle;
  	font-weight: bold;
  	top: 350px;
  	z-index: 9;
  	opacity: 1;
  }

  .service_header{
     text-align: center;
     margin-top: 0px;
  }

  .interior{
     font-family:"Lobster","Oswald","Arimo","Lora","Bitter","Ubuntu";
     color:#1abc9c;
     font-size: 35px;
  }

  .leftcardservice{
  	width:100%;
  	left: -15px;
  }

  .servicecardtitle-l{
  	left:12px !important;
	top:55%;
	height:60px;
	padding-top: 13px;
  }

  .servicecardtitle-r{
  	left:12px !important;
	top:55%;
	height:60px;
	padding-top: 13px;
  }
  
  .serviceimage{
  	width:400px;
  }

  .collapsible-header i{
    margin-top: 10px;
  }

  .ion-ios-lightbulb{
      color:#f1c40f;
  }

  .ion-paintbrush{
      color:#e74c3c;
  }

  .ion-ios-compose{
      color:#3498db;
  }

  .about-content{
  	margin-top: 50px;
  	margin-bottom: 60px;
  	text-align: center;
  	vertical-align: middle;

  }

  .about-detail{
     font-family: "Lora";
     font-size: 38px;
  }

  .about-subdetail{
     font-family: "Arimo";
     font-size: 24px;
  }

  .imagine{
  	margin-left: -30px;
  	margin-top: -18px;
  	font-family: "Roboto+Slab","Lobster";
  	color:#2ecc71;
  	font-weight: bold;
  	text-decoration: underline;
  	font-size: 50px;
  }

  .design{
  	margin-left: -30px;
  	font-weight: bold;
  	font-family: "Roboto+Slab","Lobster";
  	color:#2ecc71;
  	margin-top: -18px;
  	text-decoration: underline;
  	font-size: 50px;
  }

  .create{
    margin-top: -18px;
  	margin-left: -30px;
  	font-weight: bold;
  	font-family: "Roboto+Slab","Lobster";
  	color:#2ecc71;
  	text-decoration: underline;
  	font-size: 50px;
  }


  .contactjumbo{
  	background-image: url('../images/contacts.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
  }

  .welcome-comment{
  	color:#000000 !important;
  	font-family: "Ubuntu";

  }

  




  /*portfolio page*/

  .portfolioimage {
    margin-top: 10px;
    width: 250px;
    height: 250px !important;
  }
  .portfolio-header{
    margin-top: 80px;
    margin-left: 0px
  }


