@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Oswald|Lato|Droid+Sans|PT+Sans|Source+Sans+Pro|Open+Sans+Condensed:300|Roboto+Condensed|Droid+Serif|Ubuntu|Raleway|Montserrat|PT+Sans+Narrow|Roboto+Slab|Lobster|Arimo|Yanone+Kaffeesatz|Lora|Bitter);

html, body {
    padding:0;
    margin:0;
}
/* General styles
_______________________________________________________*/
body
{
	/*background-color: #C1BDB1;*/
}
.home-body{
	width: 1200px;
    margin: 0px auto;

}
.two.columns{
	width: 15.3333%;
}
.ten.columns{
	margin-left: 2%;
}
.three.columns{
	height: 350px;
	margin-left: 0;
	margin-right: 2%;
	margin-bottom: 2%;
}
.three.columns:first-child{
	margin-left: 0px;
}
/*
top bar  navgation
______________________________________________________*/
.top-nav {
    height: 60px;
    margin-top: 5px;
}
.top-nav .row {
	margin-left: 0px;
	margin-right: 0px;
}


.right-body .billboard .row {
	margin-top: 2px;
	margin-bottom: 0px;
}

.product .row{
	margin-bottom: 10px;
}

.navigation{
	background-color:#968477;
}
.navbar-brand {
	font-size: 48px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-brand,.nav > li > a{
	color: #EBF2F2;
}

.nav-wrapper ul li{
	border-right: 1px solid gray;
	margin-bottom: 0px;
	list-style-type: none;
	padding: 5%;
}
.nav-wrapper ul li a{
	color: maroon;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}
.nav-wrapper ul li a:hover{
	color: white;
	font-size: 2px;
}
.nav-wrapper ul li a:visited{
	color:tomato ;
}


/*carousel*/
.billboard{
	margin-top: 0px;
	height:400px;
	width: 100%;
}

.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 100%;
      height: 100%;
      margin: auto;
}

 /*login page*/
.loginform{
}
.registerform{

}
/*.carousel .row
{
	width: 100%;
	margin-left: 100px;
	margin-bottom:0px;
}

.products .row
{
	width: 100%;
	margin-left: 102px;
	margin-right: 50px;
	margin-bottom:0px;
}
.products .row .categories{
	border:1px solid green;
	background-color: blue;
	margin-right: 15px;
	width: 400px;
	height: 100px;
}
.products .row .display{
	width: 675px;
	background-color: yellow;
	height: 500px;
	border:1px solid red;
}*/
/*login page*/
.loginform